span {
    color: #99d2ff;
}

.brand-logo {
    padding: 20px;
}

.hero-image {
    position: relative;
}


.random-word-box{
    padding: 50px;
    border: #99d2ff solid 5px;
    box-shadow: 10px 10px;
    justify-content: center;

}

#randomWord{
    color: orange;

}

.contribute {
    padding: 20px;
    justify-content: center;


}

h3 {
    padding:20px;
}

#card-results {
    visibility: hidden;
}

#hideaway {
    display: block;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

submit:link {
    color: white;
}

submit:visited {
    color: white;
}
